.App {
  padding: 16px;
}

.quantities-container {
  margin-bottom: 16px;
}

.quantities-container h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(60, 60, 67, 0.6);
}

.quantity-slider-container {
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: 0.5px solid #c6c6c8;
}
