.App {
  padding: 16px;
}

.section {
  margin-bottom: 32px;
}

.section h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(60, 60, 67, 0.6);
}

.quantity-slider-container {
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #c6c6c8;
}

.hint {
  font-size: 11px;
}

.pour-container {
  display: grid;
  gap: 1px;
}

.pour {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  background-color: #007aff;
  color: #fff;
  flex: 1;
}
