.main-menu-container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.main-menu-container h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.main-menu-container ul {
  list-style: none;
  margin: 12px 0;
  padding: 0;
}

.main-menu-container ul li {
  margin-bottom: 12px;
  border-radius: 16px;
  background-color: #007aff;
}

.main-menu-container ul li a {
  box-sizing: border-box;
  padding: 8px 16px;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: #fff;
}

.bitcoin-donation {
  margin-top: 56px;
}

.bitcoin-donation img {
  border: 1px solid #e8e8e8;
  border-radius: 50px;
}

.bitcoin-code {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.bitcoin-address {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
  justify-content: space-between;
}

.bitcoin-donation span {
  font-weight: bold;
  color: #007aff;
  font-style: italic;
  word-break: break-all;
}

.bitcoin-address button {
  border-radius: 16px;
  background-color: #007aff;
  border: none;
  color: #fff;
  padding: 4px 12px;
}
